#specific-dish figure.dish {
	margin: 0;
	width: 100%;
	height: 500px;
	overflow: hidden;
	position: relative;
	background: #fff;
}

#specific-dish figure.dish:before {
	content: "";
	position: absolute;
	left: -50px;
	top: 0px;
	width: calc(100% + 100px);
	height: 100%;
    box-shadow: inset 0px -20px 50px 0px rgba(0, 0, 0, 0.30);
}

#specific-dish figure.dish img{
	display: block;
	width: 100%;
}

#specific-dish .add-dish.button {
	position: absolute;
	top: -70px;
	right: 0;
	width: 60px;
	height: 60px;
	font-size: 40px;
	font-weight: 400;
	box-shadow: 0px 3px 13px 0px rgba(40, 158, 85, 0.75);
    border: 1px solid #2EB760;
}

#specific-dish .back.button {
	position: absolute;
	left: 40px;
	top: 40px;
	padding: 12px 30px;
	z-index: 2;
    box-shadow: 0px 2px 10px 0px rgba(25, 107, 56, 0.75);
}

#specific-dish header{
	margin: 0 0 30px;
	position: relative;
}

#specific-dish header h1{
	float: left;
	line-height: 1em;
}

#specific-dish header button{
	float: right;
}

#specific-dish p{
	margin: 0;
	line-height: 1.5em;
}

#specific-dish h2{
	margin: 40px 0px 0px;
	font-size: 22px;
	font-weight: 700;
}

#specific-dish table{
	margin-top: 10px;
}

#specific-dish td{   
	padding: 14px 0 0;
}

#specific-dish tr .quantity{
	padding-right: 3px;
}

#specific-dish tr .cost{
	padding-left: 40px;
}

#specific-dish .total-cost{
	font-weight: 700;
}

#specific-dish .total-cost td{   
	padding-top: 20px;
}