body {
	margin: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

#mainPage {
	background-image: url(../images/cooking.jpg);
}

.page-header {
	opacity: 0.9;
	background-color: white;
	padding-left: 15px;
	padding-top: 3px;
	margin-top: 0%;
	margin-bottom: 0%;
}

#mainPage_Jumbotron {
	margin-top: 15%;
	width: 50%;
	opacity: 0.9;
	padding: 2%;
}

#mainPage_Jumbotron p {
	font-size: 12pt;
}

#mainPage_Jumbotron hr {
	border-color: black;
}

#dinnerOverview {
	
}

#dinnerOverview_Jumbotron {
	padding-top: 5px;
}

#dinnerOverview button {
	
}

#dinnerOverview_row {
	border-left: 1px solid black;
	height: 100%;
}

.page-container {
	margin-left: 280px;
	max-width: calc(100% - 280px);
	position: relative;
}

.content-container {
	font-family: 'Quicksand', sans-serif;
	margin: 0 auto;
	max-width: 1170px;
	padding: 40px;
	box-sizing: border-box;
	font-size: 18px;
}


.content-container h1{
	font-weight: 300;
	font-size: 46px;
	margin: 0;
}


button {
	font-family: 'Quicksand', sans-serif;

	border: none;
	color: #fff;
	background: #36d16f;
	border: 1px solid #33c468;
	border-radius: 2px;

	font-size: 14px;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase;
}

button.rounded {
	border-radius: 50px;
}

#left-sidebar {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 280px;
	height: 100%;
	background: #212226;
	box-sizing: border-box;

	color: #fff;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
}

#left-sidebar .logo{
    width: 100px;
    margin: 0;
    padding: 50px 90px 0px;
}

#left-sidebar .logo img{
	width: 100%;
    display: block;
}

#left-sidebar .menu h3 {
	text-align: center;
	margin: 0;
    font-size: 22px;
    line-height: 1em;
	font-weight: 400;
	padding: 35px 0 0;
}

#left-sidebar .menu .guests{
	padding: 35px 25px 0;
	height: 40px;
	line-height: 40px;
	font-weight: 700;
}

#left-sidebar .menu .guests .input-container{
	float: right;
}

#left-sidebar .menu .guests .input-container > *{
	float: left;
}

#left-sidebar .menu .guests .decrement,
#left-sidebar .menu .guests .increment{
	color: #999999;
	font-size: 18px;
	font-weight: 400;
}

#left-sidebar .menu .guests .decrement{
	margin-right: 15px;
}

#left-sidebar .menu .guests .increment{
	margin-left: 15px;
}

#left-sidebar .guests input{
    padding: 0;
    outline: none;
	width: 40px;
	height: 40px;
    border-radius: 2px;
	background: #1b1b1f;
    border: 1px solid #141417;
    box-sizing: border-box;

	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
    font-family: inherit;
}

#left-sidebar .course {
	padding: 35px 25px 0;
}

#left-sidebar .course h4{
	margin: 0;
}

#left-sidebar .course p{
	margin: 15px 0 0;
	color: #fff;
}

#left-sidebar .course p span{
}

#left-sidebar .course p .name{
}

#left-sidebar .course p .cost,
#left-sidebar .course p .currency{
	float: right;
	color: #999999;
}

#left-sidebar .course p .currency{
	margin-left: 3px;
}

#left-sidebar footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 25px;
	width: calc(100% - 50px);
}

#left-sidebar footer .total-cost {
	font-weight: 700;
	margin: 0;
}

#left-sidebar footer .total-cost p{
	margin: 0;
	color: #fff;
}

#left-sidebar footer .total-cost span{
	float: right;
	color: #999999;
}

#left-sidebar footer .total-cost .currency{
	margin-left: 3px;
}

#left-sidebar footer .button {
	display: block;
	margin: 20px auto 0;

	padding: 14px 0px;
	width: 230px;
}