body {
	margin: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

#mainPage {
	background-image: url(../images/cooking.jpg);
}

.page-header {
	opacity: 0.9;
	background-color: white;
	padding-left: 15px;
	padding-top: 3px;
	margin-top: 0%;
	margin-bottom: 0%;
}

#mainPage_Jumbotron {
	margin-top: 15%;
	width: 50%;
	opacity: 0.9;
	padding: 2%;
}

#mainPage_Jumbotron p {
	font-size: 12pt;
}

#mainPage_Jumbotron hr {
	border-color: black;
}

#dinnerOverview {
	
}

#dinnerOverview_Jumbotron {
	padding-top: 1px;
	padding-bottom: 70px;
}

#dinnerOverview button {
	
}

#dinnerOverview_row {
	border-left: 1px solid black;
	height: 100%;
}

#prepImg {
	margin-top: 25px;
}

#priceDish {
	text-align: right;
}

#nameDish {
	text-align: center;
}

#overImg {
	min-height: 270px;
	min-width: 270px;
}

#totalAmount {
	margin-top: 326px;
}

#printButton {
	position:relative; 
	margin: -20px -130px; 
	top:50%; 
	left:50%;
	background-color: green;
	color: white;
}

#headerButton {
	margin-top: 17px;
}

.page-container {
	margin-left: 280px;
	max-width: calc(100% - 280px);
	position: relative;
}

.col-md-5 {
	margin-bottom: 40px;
}

.content-container {
	font-family: 'Quicksand', sans-serif;
	margin: 0 auto;
	max-width: 1170px;
	padding: 40px;
	box-sizing: border-box;
	font-size: 18px;
}


.content-container h1{
	font-weight: 300;
	font-size: 46px;
	margin: 0;
}


button {
	font-family: 'Quicksand', sans-serif;

	border: none;
	color: #fff;
	background: #39df77;
	border: 1px solid #34d170;
	border-radius: 2px;

	font-size: 15px;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase;
}

button.rounded {
	border-radius: 50px;
}



#left-sidebar {
	font-family: 'Quicksand', sans-serif;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 280px;
	height: 100%;
	color: #fff;
	background: #212226;
	border-right: 1px solid #261a17;
	box-sizing: border-box;
}

#left-sidebar h1{
	margin: 0 auto;

	color: #fff;
	font-weight: 800;
	line-height: 1em;
	text-align: center;
	text-transform: uppercase;
}

#left-sidebar .menu h3 {
	text-align: center;
	margin: 0;
}

#left-sidebar .menu ul {
	width: calc(100%);
	margin: 0;
	padding: 0;
	list-style: none;
}

#left-sidebar .menu li {
	padding: 20px;
}

#left-sidebar .menu li.header {
	font-weight: 700;
	border-bottom: 1px solid #101012;
}

#left-sidebar .menu li.dish {
	background: #1b1c1f;
	border-bottom: 1px solid #101012;
}

#left-sidebar p {
	margin: 0;
	color: #fff;
}

#left-sidebar p span {
	float: right;
	color: #999999;
}

#left-sidebar footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 25px;
	width: calc(100% - 50px);
}

#left-sidebar footer .total-cost {
	font-size: 20px;
}

#left-sidebar footer .button {
	display: block;
	margin: 20px auto 0;

	padding: 14px 0px;
	width: 230px;
}