html, body {
	height: 100%;
}

body {
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	background: #f2f4f7;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Button styling */
button {
	font-family: 'Quicksand', sans-serif;

	border: none;
	color: #fff;
	background: #36d16f;
	border-radius: 2px;
	outline: none;
	cursor: pointer;

	font-size: 14px;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase;
}

button.rounded {
	border-radius: 50px;
}

/* Main page */
#mainPage {
	background-image: url(../images/cooking.jpg);
	color: #fff;
}

#mainPage .overlay{
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;
	background: rgba(33, 34, 38, 0.9);
}

#mainPage .content{
	text-align: center;
	max-width: 560px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
}

#mainPage a{
	display: block;
}

#mainPage img{
	width: 100px;
	display: block;
	margin: 0 auto;
}

#mainPage h1{
	margin: 35px 0 0;
	font-weight: 300;
	font-size: 3em;
}

#mainPage h3{
	margin: 15px 0 0;
	font-weight: 400;
	font-size: 1.375em;
	line-height: 1.5em;
}

#mainPage #createButton {
	display: block;
	margin: 25px auto 0;
	font-family: 'Quicksand', sans-serif;

	border: none;
	color: #fff;
	background: #36d16f;
	width: 200px;
	padding: 17px 30px;
	border-radius: 50px;
	text-decoration: none;

	font-size: 14px;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase;
	text-align: center;
	
	border-radius: 50px;
}

/* Page container */
.page-container {
	opacity: 0;
	max-width: 100%;
	height: 100%;
	position: relative;
	color: #222222;

	-webkit-transition: max-width 200ms linear,
						opacity 200ms linear,
						margin-left 200ms linear,
						padding-top 200ms linear;

	-moz-transition: max-width 200ms linear,
					 opacity 200ms linear,
					 margin-left 200ms linear,
					 padding-top 200ms linear;

	-ms-transition: max-width 200ms linear,
					opacity 200ms linear,
					margin-left 200ms linear,
					padding-top 200ms linear;

	-o-transition: max-width 200ms linear,
				   opacity 200ms linear,
				   margin-left 200ms linear,
				   padding-top 200ms linear;

	transition: max-width 200ms linear,
				opacity 200ms linear,
				margin-left 200ms linear,
				padding-top 200ms linear;
}

.page-container.shown{
	opacity: 1;
}

.sidebar-shown .page-container{
	margin-left: 280px;
	max-width: calc(100% - 280px);
}

.header-shown .page-container{
	padding-top: 90px;
}

.page {
	opacity: 1;

	-webkit-transition: opacity .15s linear .15s;
	-moz-transition: opacity .15s linear .15s;
	-ms-transition: opacity .15s linear .15s;
	-o-transition: opacity .15s linear .15s;
	transition: opacity .15s linear .15s;
}

.show-error .page,
.not-loaded .page {
	opacity: 0;
}

/* Loading */
.loading {
	opacity: 0;

	-webkit-transition: opacity .15s linear;
	-moz-transition: opacity .15s linear;
	-ms-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear;
}

.not-loaded .loading {
	opacity: 1;
}

.loading span {
	display: block;
	color: #737480;
	font-size: 3em;
	font-weight: 300;
	text-align: center;
	margin: 20px 0 0;
}

.loading .spinner {
	width: 80px;
	height: 80px;

	position: relative;
	margin: 0 auto;
}

.loading .double-bounce1, 
.loading .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #333;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.loading .double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
	0%, 100% { 
	transform: scale(0.0);
	-webkit-transform: scale(0.0);
	} 50% { 
	transform: scale(1.0);
	-webkit-transform: scale(1.0);
	}
}

/* Error */
.error {
	opacity: 0;

	-webkit-transition: opacity .15s linear;
	-moz-transition: opacity .15s linear;
	-ms-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear;
}

.show-error .error {
	opacity: 1;
}

/* Content container */
.content-container {
	position: relative;
	font-family: 'Quicksand', sans-serif;
	margin: 0 auto;
	max-width: 1170px;
	padding: 40px;
	box-sizing: border-box;
	font-size: 18px;

	-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.content-container *{
	-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


.content-container h1{
	font-weight: 300;
	font-size: 46px;
	margin: 0;
}

/* Left sidebar */
#left-sidebar {
	position: fixed;
	left: -280px;
	top: 0px;
	width: 280px;
	height: 100%;
	background: #212226;
	box-sizing: border-box;

	color: #fff;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;

	-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

	-webkit-transition: left 200ms linear;
	-moz-transition: left 200ms linear;
	-ms-transition: left 200ms linear;
	-o-transition: left 200ms linear;
	transition: left 200ms linear;
}

.sidebar-shown #left-sidebar{
	-webkit-animation-delay: 200ms!important;
	-moz-animation-delay: 200ms!important;
	-ms-animation-delay: 200ms!important;
	-o-animation-delay: 200ms!important;
	animation-delay: 200ms!important;
	
	left: 0px;
}

#left-sidebar *{
	-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#left-sidebar .logo{
    width: 100px;
    margin: 0;
    padding: 50px 90px 0px;
}

#left-sidebar .logo img{
	width: 100%;
    display: block;
}

#left-sidebar .menu h3 {
	text-align: center;
	margin: 0;
    font-size: 22px;
    line-height: 1em;
	font-weight: 400;
	padding: 35px 0 0;
}

#left-sidebar .menu .guests{
	padding: 35px 25px 0;
	height: 40px;
	line-height: 40px;
	font-weight: 700;
}

#left-sidebar .menu .guests .input-container{
	float: right;
}

#left-sidebar .menu .guests .input-container > *{
	float: left;
}

#left-sidebar .menu .guests .decrement,
#left-sidebar .menu .guests .increment{
	color: #999999;
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
}

#left-sidebar .menu .guests .decrement{
	margin-right: 15px;
}

#left-sidebar .menu .guests .increment{
	margin-left: 15px;
}

#left-sidebar .guests input{
    padding: 0;
    outline: none;
	width: 40px;
	height: 40px;
    border-radius: 2px;
	background: #1b1b1f;
    border: 1px solid #141417;
    box-sizing: border-box;

	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
    font-family: inherit;
}

#left-sidebar .course {
	padding: 35px 25px 0;
}

#left-sidebar .course h4{
	margin: 0;
    font-size: 14px;
    font-weight: 700;
}

#left-sidebar .course p{
	margin: 15px 0 0;
	color: #fff;
}

#left-sidebar .course p span{
}

#left-sidebar .course p .name{
}

#left-sidebar .course p .cost,
#left-sidebar .course p .currency{
	float: right;
	color: #999999;
}

#left-sidebar .course p .currency{
	margin-left: 3px;
}

#left-sidebar footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 25px;
	width: calc(100% - 50px);
}

#left-sidebar footer .total-cost {
	font-weight: 700;
	margin: 0;
}

#left-sidebar footer .total-cost p{
	margin: 0;
	color: #fff;
}

#left-sidebar footer .total-cost span{
	float: right;
	color: #999999;
}

#left-sidebar footer .total-cost .currency{
	margin-left: 3px;
}

#left-sidebar footer .button {
	display: block;
	margin: 20px auto 0;

	padding: 14px 0px;
	width: 230px;
}

/* Page header */
#page-header {
	position: absolute;
	z-index: 1;
	top: -90px;
	left: 0px;

	width: 100%;
	padding: 20px 0;
	background: #212226;
	
	color: #fff;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;

	-webkit-transition: top 200ms linear;
	-moz-transition: top 200ms linear;
	-ms-transition: top 200ms linear;
	-o-transition: top 200ms linear;
	transition: top 200ms linear;
}

.header-shown #page-header{
	-webkit-animation-delay: 300ms!important;
	-moz-animation-delay: 300ms!important;
	-ms-animation-delay: 300ms!important;
	-o-animation-delay: 300ms!important;
	animation-delay: 300ms!important;

	top: 0px;
}

#page-header .content-container{
	padding: 0;
}

#page-header a{
	float: left;
	margin-right: 30px;
}

#page-header a img {
	width: 50px;
	height: 50px;
	display: block;
}

#page-header h3{
	float: left;
	line-height: 50px;
	margin: 0;
	font-weight: 400;
}

/* Subheader */
.subheader {
	background: #fff;
	border-bottom: 1px solid #ebedf2;
}

.subheader .content-container{
	padding: 20px 0;
}

.subheader h3{
	float: left;
	margin: 0;
	line-height: 40px;
	font-weight: 400;
}

.subheader button{
	float: right;
	border-radius: 30px;
	padding: 13px 30px;
}

/* Dinner overview */
#dinnerOverview .column {
	float: left;
	width: calc(33.3333% - 20px);
}

#dinnerOverview .column:nth-child(2n+2) {
	margin: 0px 30px;
}

#dinnerOverview .column h2 {
	font-weight: 700;
	margin: 0 0 30px;
	font-weight: 400;
	font-size: 20px;
	text-align: center;
}

#dinnerOverview .dish {
	background: #fff;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #ebedf2;
    border-bottom: none;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.08);
}

#dinnerOverview .dish figure{
	margin: 0;
	height: 0;
	width: 100%;
	padding-bottom: 56.26%;
	position: relative;
	overflow: hidden;
	display: none;
}

#dinnerOverview .dish figure img{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

#dinnerOverview .dish .info{
	padding: 20px;
}

#dinnerOverview .dish .info h4{
	float: left;
	margin: 0;
}

#dinnerOverview .dish .info p{
	float: right;
	margin: 0;
	color: #737480;
}

#dinnerOverview .dish  #prepImg {
	margin-top: 25px;
	margin-bottom: 25px;
}

#dinnerOverview .dish #priceDishP {
	text-align: right;
}

#dinnerOverview .dish  #nameDish {
	text-align: center;
}

#dinnerOverview .dish #overImg {
	width: 100%;
	display: block;
}

#dinnerOverview footer{
	width: 100%;
	position: fixed;
	bottom: 0;
    border-top: 1px solid #ebedf2;
	background: #fff;
}

#dinnerOverview footer.content-container {
	padding: 15px 40px;

}

#dinnerOverview footer #totalAmount{
	float: right;
	line-height: 1em;
	margin: 11px 0;
}

#dinnerOverview footer  #printButton {
	float: right;
	display: block;
	margin-left: 30px;
	padding: 13px 30px;
}

/* Dinner preperation */
#dinnerPreperation .dine {
	background: #fff;
    border: 1px solid #ebedf2;
    border-bottom: none;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    overflow: hidden;
    margin-top: 40px;
}

#dinnerPreperation .dine:first-child {
	margin-top: 0;
}

#dinnerPreperation .dine figure{
	margin: 0;
	width: 100%;
	height: 300px;
	position: relative;
	overflow: hidden;
}

#dinnerPreperation .dine figure:before {
	content: "";
	position: absolute;
	z-index: 2;
	left: -50px;
	top: 0px;
	width: calc(100% + 100px);
	height: 100%;
    box-shadow: inset 0px -50px 50px 0px rgba(0, 0, 0, 0.50);
}

#dinnerPreperation .dine figure img{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

#dinnerPreperation .dine h2{
    position: absolute;
    color: #fff;
    left: 20px;
    bottom: 20px;
    margin: 0;
    font-weight: 300;
    font-size: 3em;
    line-height: 1em;
    z-index: 2;
}

#dinnerPreperation .dine .content{
	padding: 30px;
}

#dinnerPreperation .dine .content p{
	margin-top: 0;
    line-height: 1.5em;
}

#dinnerPreperation .dine .content h3{
    margin: 30px 0px 10px;
    font-size: 22px;
    font-weight: 700;
}

#dinnerPreperation .dine .content ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

#dinnerPreperation .dine .content li{
	float: left;
	font-size: 1em;
	margin-top: 10px;
	width: calc(33.3333% - 20px);
}

#dinnerPreperation .dine .content li:nth-child(3n+2){
	margin-left: 30px;
	margin-right: 30px;
}

#dinnerPreperation h1 {
	text-align: center;
}